@import 'tailwindcss';

@theme {
  --font-poppins: var(--font-poppins);
}

:root {
  --background: #f4f7fe; /* Color base opaco tipo dashboard moderno */
  --foreground: #1b2559;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

/* Scrollbar personalizado para que no rompa el diseño */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
